#menu {
    position: relative;
    width: 100px;
    top: 222px;
    left: 353px;
}
#menu ul {
    list-style-type: none;
    width: 100px;
    padding: 0;
}
#my-hand {
    top: 300px;
    right: 5px;
    float: right;
    position: relative;
}
#dealers-hand {
    left: 5px;
    float: left;
    position: relative;
    top: 5px;
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}
.ui-widget-overlay {
    background: none;
}